:root {
  --main-color: #28574e;
  --transition-main: all 0.4s ease-in-out;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
/* Small Screans */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screans */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screans */
@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--main-color);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .container .logo-div,
header .container .accounts {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}
header .container nav {
  flex-basis: 80%;
}
header .container nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
header .container nav ul li a {
  display: block;
  color: white;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 15px;
}
header .container nav ul li .active {
  transition: var(--transition-main);
  transform: scale(1.1);
  background-color: #177766;
  border-radius: 3px;
}

header .container .accounts i {
  color: white;
  font-size: 25px;
  transition: var(--transition-main);
}
header .container .accounts .menu-bars {
  display: none;
}

main .hero {
  background-color: var(--main-color);
}

main .hero .container {
  display: flex;
  align-items: start;
  gap: 20px;
  position: relative;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
main .hero .container .text {
  padding-top: 100px;
  max-width: 81%;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-bottom: 52px;
  line-height: 1.3;
}
main .hero .container .text h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
main .hero .container .text p {
  font-size: 20px;
  margin-bottom: 30px;
}
main .hero .container .first-image {
  position: absolute;
  right: 200px;
  z-index: 4;
  width: 281px;
  bottom: 200px;
}
main .hero .container form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
main .hero .container input {
  padding: 15px;
  background: none;
  border: none;
  outline: none;
  flex-basis: 55%;
  background-color: #4b6d67;
  color: white;
  border-radius: 40px;
  padding-left: 50px;
}
main .hero .container input::placeholder {
  color: white;
  font-size: 15px;
  opacity: 0.6;
  position: relative;
  width: fit-content;
}
main .hero .container button {
  padding: 15px 20px;
  background-color: #177766;
  color: white;
  border: none;
  cursor: pointer;
  transition: var(--transition-main);
  flex-basis: 20%;
  margin: 0 auto;
  width: fit-content;
  letter-spacing: 1.5px;
}
main .hero .container button:hover {
  background-color: #0f5345;
  transform: scale(1.005);
}

main .hero .container .second-image {
  position: absolute;
  max-width: 1000px;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%);
  border: 20px solid;
  border-image: linear-gradient(#0c5e4e00, #6d4b4b) 100% 0;
  border-radius: 70px;
}

@media (max-width: 1200px) {
  main .hero .container .first-image {
    display: none;
  }
}
@media (max-width: 1000px) {
  main .hero .container .second-image {
    display: none;
  }
}

@media (max-width: 768px) {
  header .container .accounts {
    display: flex;
    flex-basis: 50%;
    gap: 40px;
  }
  header .container .accounts .menu-bars {
    display: block;
    cursor: pointer;
  }
  header .container nav ul {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 113px;
    z-index: 3;
    background-color: #4b6d67;
    height: 200px;
    width: 150px;
    align-items: center;
    transition: var(--transition-main);
  }
  main .hero .container form {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}

main .landing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}
main .landing .container .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  main .landing .container .text {
    flex-direction: column;
    margin-top: -200px;
  }
  main .landing .container .text h3 {
    text-align: center;
    width: fit-content;
    width: 50%;
    margin: 0 auto;
  }
}

main .landing .container .text h3 {
  flex-basis: 30%;
  font-size: 25px;
  color: var(--main-color);
}
main .landing .container .text p {
  font-size: 15px;
  color: #969494;
  flex-basis: 60%;
}

main .landing .container .cards {
  margin-top: 60px;
  background-color: whhite;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  transition: var(--transition-main);
}

main .landing .container .cards .card {
  background-color: #ccc;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: var(--transition-main);
}
main .landing .container .cards .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

main .landing .container .cards .card i {
  display: block;
  font-size: 40px;
  color: rgb(90, 86, 86);
  margin: 0 auto;
  margin-bottom: 5px;
}
main .landing .container .cards .card:hover i {
  color: var(--main-color);
}

main .landing .container .cards .card h4 {
  font-size: 21px;
  color: black;
  margin: 28px 0 10px 0;
}
main .landing .container .cards .card p {
  font-size: 15px;
  color: #626060;
}
main .landing .container .cards .card button {
  position: absolute;
  padding: 16px 20px;
  color: white;
  background-color: var(--main-color);
  font-size: 16px;
  border: none;
  border-radius: 20px;
  bottom: -20px;
  left: 34%;
}
main .landing .container .cards .card button:hover {
  background-color: #0f5345;
  transform: scale(1.005);
}

main .landing .container > div:nth-child(2) {
  background-image: url("../img/Rectangle.png");
  background-size: cover;
  margin-top: 200px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 30px;
}
main .landing .container > div:nth-child(2) .contant {
  /* position: absolute; */
  padding-left: 50px;
  color: white;
}

main .landing .container > div:nth-child(2) .contant h3 {
  font-size: 30px;
}
main .landing .container > div:nth-child(2) .contant button {
  background-color: white;
  padding: 20px 26px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  transition: var(--transition-main);
}
main .landing .container > div:nth-child(2) .contant button:hover {
  background-color: #e0e0e0;
  transform: scale(1.005);
}
main .landing .container > div:nth-child(2) .images {
  position: relative;
  flex-basis: 66%;
  text-align: end;
  padding-right: 30px;
}

main .landing .container > div:nth-child(2) .images img:first-child {
  position: absolute;
  top: 41px;
  right: 170px;
}

@media (max-width: 992px) {
  main .landing .container > div:nth-child(2) {
    flex-direction: column;
    padding: 30px;
    gap: 40px;
    margin-top: 100px;
  }
  main .landing .container > div:nth-child(2) .contant {
    padding-left: 0;
    text-align: center;
  }
  main .landing .container > div:nth-child(2) .images {
    text-align: center;
    padding-right: 0;
  }
  main .landing .container > div:nth-child(2) .images img:first-child {
    display: none;
  }
}

main .plans-container {
  margin-top: 100px;
  background-color: #1e232f;
  padding-bottom: 80px;
}

main .plans-container .text {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 80px;
  color: white;
}
main .plans-container .text h3 {
  font-size: 30px;
}
main .plans-container .text p {
  font-size: 15px;
  color: #969494;
  margin-top: 20px;
}
main .plans-container .cards {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  main .plans-container .cards .card {
    gap: 40px;
    margin-top: 10px;
  }
}
main .plans-container .cards .card {
  background-color: #2b333f;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 450px;
  margin-top: 80px;
}
main .plans-container .cards .card h4 {
  font-size: 21px;
  color: white;
  margin: 0 0 10px 0;
}
main .plans-container .cards .card p span:first-child {
  font-weight: bold;
  color: #969494;
  display: bock;
}
main .plans-container .cards .card p span:last-child {
  font-size: 22px;
  color: white;
  display: block;
  transition: var(--transition-main);
  margin-top: 10px;
}
main .plans-container .cards .card p span:last-child:hover {
  color: var(--main-color);
  transform: scale(1.05);
}
main .plans-container .cards .card ul {
  margin-top: 10px;
  list-style: disc;
}

main .plans-container .cards .card ul li {
  margin-bottom: 20px;
  font-size: 17px;
  color: #ccc;
  transition: var(--transition-main);
}
main .plans-container .cards .card ul li:hover {
  transform: scale(1.04);
  color: var(--main-color);
}

main .plans-container .cards .card button {
  margin-top: 20px;
  padding: 16px 20px;
  color: white;
  background-color: var(--main-color);
  font-size: 16px;
  border: none;
  border-radius: 20px;
  width: fit-content;
  margin-left: 10px;
  transition: var(--transition-main);
}
main .plans-container .cards .card button:hover {
  background-color: #0f5345;
  transform: scale(1.005);
}
main .plans-container .cards .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.005);
}

main .features .container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
main .features .container h2 {
  font-size: 30px;
  color: var(--main-color);
}
main .features .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  margin-top: 60px;
  transition: var(--transition-main);
}

main .features .container .boxes .box {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: var(--transition-main);
}
main .features .container .boxes .box img {
  display: block;
  font-size: 40px;
  color: #7e7e7e;
  margin: 0 auto;
  margin-bottom: 15px;
}
main .features .container .boxes .box span {
  text-align: center;
  font-size: 17px;
}

main .features .container .boxes:hover .box:not(:hover) {
  filter: blur(2px);
}

main .doctors .container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #f5f5f5;
}
main .doctors .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  transition: var(--transition-main);
}

main .doctors .container .boxes .box {
  position: relative;
  transition: var(--transition-main);
}
main .doctors .container h2 {
  margin: 20px auto 40px;
  color: var(--main-color);
  font-size: 30px;
}
main .doctors .container .boxes .box img {
  border-radius: 45px;
}
main .doctors .container .boxes .box:nth-child(even) img {
  transform: translateY(50px);
}
main .doctors .container .boxes .box span {
  display: block;
  position: absolute;
  width: 238px;
  font-size: 20px;
  background-color: #edebeb;
  padding: 20px 15px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  bottom: -130px;
  opacity: 0;
  transition: var(--transition-main);
}

main .doctors .container .boxes:hover .box:not(:hover) {
  filter: blur(8px);
}

main .doctors .container .boxes .box:hover span {
  opacity: 0.8;
  bottom: 0;
}
